parameters:
	level: 1
	paths:
		- src/
	bootstrapFiles:
		- vendor/autoload.php
		- .phpstan-bootstrap.php
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
	excludePaths:
		- vendor/
		- node_modules/ (?)
		- assets/
	tmpDir: /tmp/commerceflow-phpstan
	parallel:
		maximumNumberOfProcesses: 1
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- "#Path in require.*index\\.asset\\.php.*is not a file or it does not exist.#"
